body{
    background-color: rgb(236, 231, 227) ;
  }
  /* Title page */
  .titlecenter {
    color: rgb(199, 197, 193);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    font-family:Impact;
    font-size: 500%;
  }
  .pbutton{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
  }
  .image{
    top: 250;
    left: -95;
    width: 40%;
    height: 70%;
    object-fit: cover; /* Maintain aspect ratio while covering the entire viewport */
    z-index: -1; /* Place the image behind other content */
  }
  /* Style for the fixed image */
  #fixedImage {
    position: fixed;
    top: 400;
    left: 70;
    width: auto;
    height: auto;
    object-fit: cover; /* Maintain aspect ratio while covering the entire viewport */
    z-index: -1; /* Place the image behind other content */
  }

  #cloudButton {
  font-size: 40px;
  color: rgb(31, 32, 32);
  background: none;
  border: none;
  cursor: pointer;
}
.trail { /* className for the trail elements */
  position: absolute;
  height: 6px; width: 6px;
  border-radius: 3px;
  background: teal;
}

  /* Style for the rest of the content */
  #content {
    padding: 20px;
    color: #fff; /* Example text color, adjust as needed */
    z-index: 1; /* Place the content on top of the image */
  }
  /* Media query for smaller screens */
  @media (max-width: 600px) {
    .titlecenter {
        font-size: 300%; /* Adjust the font size for smaller screens */
    }

    .subtitle {
        font-size: 150%; /* Adjust the font size for smaller screens */
    }
  }