@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gemola";
  src: url("/gemola-font/Gemola-wooyn.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gemola', fallback, sans-serif;
  scroll-behavior: smooth;
  color-scheme: #f0eee9;
}

/*TODO: FIX: MArgin of white space when screen horizontal small */

body {
  background-image: url('/background.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}
/*--------------
 * Hero - Folders
 *--------------*/

 .aboutfolder {
  height: 150px;
  margin-top: 60px;
  margin-left: 10px;
 }
 
 .aboutfolder:not(.clicked):hover {
  content: url('../src/assets/Aboutfolderopen.png');
 }

 .aboutPopup {
  position: absolute;
  width: 800px;
  height: 500px;
  top: 100px;
  left: 400px;
}

.about-Window {
  width: 800px;
  height: 500px;
  border-radius: 20px;
}

/*---------------
 * About - window
 *---------------*/
 
 .about-Sidebar {
  position: relative;
  height: 500px;
 }

 .about-Sidebar::after, .about-Sidebar::before{
  content: "";
  position: absolute;
  top:0px;
  bottom: 0px;
  border-right: 2px outset #30242878;
 }

 .about-Sidebar::after {
  left: 20%;
 }

 .about-Sidebar::before {
  left: 40%;
 }

 .mcomp {
  position: relative;
  height: 70px;
  bottom: 400px;
  left: 400px;
 }

 .close-smile {
  position: relative;
  top: 10px;
  left: 10px;
  height: 30px;
 }

 .sidebar-1 {
  position: relative;
  font-size: 25px;
  top: 20px;
  left: 15px;
 }

 .sidebar-2 {
  position: relative;
  left: 180px;
  top: -40px;
  font-size: 25px;
 }
