@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gemola";
  src: url("/gemola-font/Gemola-wooyn.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gemola', fallback, sans-serif;
  scroll-behavior: smooth;
  color-scheme: #f0eee9;
}

body {
  background-image: url('/background.png');
  background-position: center;
  background-size: 100% 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;  /* Chrome, Safari, Opera */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* IE/Edge */
  user-select: none;          /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
/*--------------
 * Hero - Folders
 *--------------*/

 .aboutbutton, .workbutton {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 20px;
 }

 .aboutfolder {
  position: relative;
  height: 150px;
  top: 50px;
 }
 
 .aboutfolder:not(.clicked):hover {
  content: url('../src/assets/Aboutfolderopen.png');
 }

 .workfolder {
  position: relative;
  height: 150px;
  top: 100px;
 }

 .workfolder:not(.clicked):hover {
  content: url('../src/assets/Workfolderopen.png');
 }

 .aboutPopup {
  position: absolute;
  width: 800px;
  height: 500px;
  top: 100px;
  left: 400px;
}

.about-Window {
  width: 800px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.561);
}

/*---------------
 * About - window
 *---------------*/
 
 .about-Sidebar {
  position: relative;
  height: 500px;
  background: linear-gradient(to right, transparent 20%, #fcfbfbc5 20%, #fcfbfbc5 40%, #ffffffd7 40%);
  border-radius: 20px;
 }

 .about-Sidebar::after, .about-Sidebar::before{
  content: "";
  position: absolute;
  top:0px;
  bottom: 0px;
  border-right: 2px outset #30242878;
 }

 .about-Sidebar::after {
  left: 20%;
 }

 .about-Sidebar::before {
  left: 40%;
 }

 .mcomp {
  position: relative;
  height: 70px;
  bottom: 450px;
  left: 400px;
 }

 .close-smile {
  position: relative;
  top: 10px;
  left: 10px;
  height: 30px;
 }

 .sidebar-1 {
  position: relative;
  font-size: 25px;
  bottom: 430px;
  left: 15px;
  width: 80px;
 }

 .sidebar-2 {
  position: relative;
  left: 180px;
  top: -10px;
  font-size: 25px;
  width: 130px;
 }

 .sidebar-3 {
  position: relative;
  left: 350px;
  top: -210px;
  width: 420px;
 }

 .about-portrait {
  position: relative;
  height: 90px;
  left: 20px;
  top: -20px;
  border-radius: 100px;
  border: 5px solid #FFC70A;
 }

 .UR-logo {
  position: absolute;
  height: 40px;
  right: 30px;
  top: -30px;
 }

 .about-github {
  position: absolute;
  height: 40px;
  bottom: -60px;
  right: 90px;
 }

 .about-linkedin {
  position: absolute;
  height: 40px;
  bottom: -60px;
  right: 30px;
 }
 
 .about-cover {
  position: absolute;
  width: 478px;
  height: 80px;
  top: -52px;
  left: -28px;
  border-bottom: 5px solid #FFC70A;
  background-color:#00205B;
  border-top-right-radius: 20px;
 }