

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
  scroll-behavior: smooth;
  color-scheme: #f0eee9;
}

body {
  background-image: url('/background.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 101vh;
  margin: 0;
  padding: 0;
}
/*--------------
 * Hero 
 *--------------*/
